main{
    min-height:60%;
    margin-top: 2%;
}
.a_header{
    color: white;
}

.a_footer{
    color: white;
}

.signature{
    color: white;
}

body{
    background-image: url("../images/wp5498323.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

*{
    margin: 0;
    padding: 0;
}

#buttonArticles{
    padding: 1.5%;
    width: 90vh;
    color: white;
    letter-spacing: 1px;
}

div#form{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border-radius: 5px;
}

.pagination{
    display: flex;
    justify-content: center;
}

.pagination_btn{
    margin-top: 0.5%;
    margin-right: 0.5em;
    border-radius: 5px;
    padding: 8px 16px;
}

.pagination_btn.current{
    background-color: #0033cc;
    color: white;
    font-weight: bold;
}
.signature{
    color:white;
}
div#form {
    display: flex;
    justify-content: center;
    align-items: center;
}


button {
    border-radius: 5px;
}