
footer{
    margin-top: 5%;
    width:100%;
    height:20vh;
}

#footer{
    margin-left: 20%;
    margin-right: 20%;
    color:white;

}

.margin_foot{
    margin-right: 5%;
    font-size: 2em;
}

@font-face {
    font-family: 'Zenzai-Itacha.ttf';
    src: url("../fonts/signature/Zenzai-Itacha.ttf");
}

.signature{
    font-family: 'Zenzai-Itacha.ttf';
}

.footer_article_signature{
    display: flex;
    flex-direction: row;
}

.dev_img_dimension{
    width: 25%;
}

.dev_img_dimension_jo{
    width: 60%;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2vh;
    max-height:10vh;
}